    /* General */
    nav.headermd {
        margin-top: -88px !important;
    }

    body {
        margin-top: 88px !important;
    }

    body {
        font-family: 'Space Grotesk', sans-serif !important;
        position: relative;
        overflow-x: hidden !important;
        margin: 0px;
    }

    /* new-header */
        nav.headermd {
            background: #C0A9B0;
            position: fixed;
            Z-INDEX: 99999;
            width: 100%;
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: space-around;
            padding: 28px 90px;
        }

    .iconmage1 img {
        width: 100px;
        max-width: 100%;
    }

    .iconmage1 a {
        color: black;
        font-family: 'Merriweather', serif !important;
        text-decoration: unset;
        font-weight: 900;
        font-size: 22px;
    }

    .iconmage1 a:hover {
        color: black;
    }

    .socialmedia1 li {
        list-style-type: none;
    }

    ul.alinks {
        display: flex;
        gap: 70px;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    ul.alinks a {
        color: #1b1e23;
        text-decoration: unset;
        FONT-WEIGHT: BOLD;
        font-size: 18px;
    }

    .socialmedia1 {
        display: flex;
        gap: 23px;
    }

    .header-links {
        display: flex;
        gap: 50px;
    }

    .socialmedia1 i {
        color: #1b1e23;
        font-size: 25px;
    }

    .iconmage1 {
        width: 600px;
        max-width: 100%;
    }

    .burger div {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .burger {
        display: none;
        cursor: pointer;
    }

    /* footer */
        .backgroundfooter {
            padding: 45px 0px;
            background: #EED4D2;
        }

    .bgfooter {
        display: flex;
        flex-direction: column;
        gap: 21px;
        align-items: center;
    }

    .iconfooter a {
        color: black;
        text-decoration: unset;
        font-weight: 900;
        font-size: 22px;
    }

    .iconfooter a:hover {
        color: black;
        text-decoration: unset;
    }

    .iconfooter img {
        width: 158px;
    }

    .socialmediafooter {
        display: flex;
        gap: 20px;
    }

    .socialmediafooter i {
        color: black;
        font-size: 33px;
    }



    /* responsive */
    @media only screen and (max-width: 1695px) {

        /* header-responsive */
        .iconmage1 {
            width: unset;
        }

        nav.headermd {
            padding: 21px 20px;
        }

        .bgbox2 {
            justify-content: center;
        }
    }


    @media only screen and (max-width: 991px) {

        /* header-responsive */
        nav.headermd {
            justify-content: space-between;
        }

        .iconmage1 img {
            width: 75PX;
        }

        .burger {
            display: block;
        }

        .line1 {
            width: 80%;
            height: 2px;
            background: white;
            margin: 0px auto;
        }

        ul.alinks {
            flex-direction: column;
            padding: 0px;
            gap: 25px;
        }

        .header-links {
            position: absolute;
            top: 74px;
            align-items: center;
            padding: 30px 0px;
            display: flex;
            width: 50%;
            right: 0;
            background-color: #c0a9b0;
            height: 95vh;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            flex-direction: column;
            gap: 20px;
        }

        .header-links li {
            opacity: 0;
        }

    }


    /* header-animation */
    .header-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }